<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pramod.taskplace">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk
        android:minSdkVersion="22"
        android:maxSdkVersion="26"
        />
    <application
        android:name=".TaskPlace"
        android:allowClearUserData="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAg4vdxuQp5yUmNrMhQtrUhdtAOr9b7KIU" />
        <receiver android:name=".BroadCastReceiver.AlarmBroadCastReceiver"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.DevPageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.OpenLibraries_Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.StartPage"
            android:theme="@style/SampleWelcomeScreenTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CustomErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity"
            android:screenOrientation="portrait">

            <!-- You can also use this instead of using CustomActivityOnCrash.setErrorActivityClass(CustomErrorActivity.class); -->
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".LocationService.LocationUpdatesBroadcastReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.example.pramod.taskplace.Background_LocationService.LocationUpdatesBroadcastReceiver.ACTION_PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".Activities.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <service android:name=".LocationService.FusedLocationService"
            android:exported="false"/>
    </application>

</manifest>